<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>字典明细新增</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
        .layui-form-item .layui-input-company {
            width: auto;
            padding-right: 10px;
            line-height: 38px;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <input type="hidden" name="dictCode" th:value="${dictDetail.dictCode}">
    <input type="hidden" name="dictDetailId" th:value="${dictDetail.dictDetailId}">
    <div class="layui-form-item">
        <label class="layui-form-label required">字典值</label>
        <div class="layui-input-block">
            <input type="text" name="code" lay-verify="required|letter" lay-reqtext="请输入字典值" placeholder="请输入" class="layui-input" th:value="${dictDetail.code}">
            <tip>字典值作为唯一标识，请输入英文或数字</tip>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" lay-verify="required|name" lay-reqtext="请输入字典值名称" placeholder="请输入" class="layui-input" th:value="${dictDetail.name}">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">
                <i class="layui-icon layui-icon-ok"></i>保存
            </button>
        </div>
    </div>
</div>
<script th:src="@{/lib/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
<script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/lib/coco-message/coco-message.js}" charset="utf-8"></script>
<script th:src="@{/js/lay-config.js}" charset="utf-8"></script>
<script type="text/javascript" th:inline="javascript">
    Util.ctx = /*[[@{/}]]*/'';
    layui.use(['form', 'layer'], function () {
        var form = layui.form,
            layer = layui.layer;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            //加载层
            let index = layer.load(0, {shade: 0.1}); //0代表加载的风格，支持0-2
            Util.post({
                url: Util.ctx + "sysdict/updateDetail",
                data: data.field,
                success: function (res) {
                    layer.close(index);
                    if (res.code === 0) {
                        Message.success(1500, res.message, function () {
                            // 重载表格
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                        });
                    } else {
                        Message.error(res.message, 1000);
                    }
                },
                error: function (error) {
                    layer.close(index);
                    Message.error(error, 1000);
                }
            });

            return false;
        });

        form.verify({
            name: function(value, item) { //value：表单的值、item：表单的DOM对象
                if(!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)){
                    return '字典名不能有特殊字符';
                }
                if(/(^\_)|(\__)|(\_+$)/.test(value)){
                    return '字典名首尾不能出现下划线\'_\'';
                }
                if(/^\d+\d+\d$/.test(value)){
                    return '字典名不能全为数字';
                }
            },
            letter: function (value, item) {
                if (!new RegExp("^[0-9a-zA-Z_]+$").test(value)) {
                    return '字典编码作为唯一标识，请输入全英文或者下划线';
                }
            }
        });

    });
</script>
</body>
</html>