<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>字典明细配置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <input type="hidden" name="dictCode" th:value="${dictCode}">
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> <i class="layui-icon">&#xe654;</i> 新增 </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
        </script>

    </div>
</div>
<script th:src="@{/lib/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
<script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/lib/coco-message/coco-message.js}" charset="utf-8"></script>
<script th:src="@{/js/lay-config.js}" charset="utf-8"></script>
<script type="text/javascript" th:inline="javascript">
    Util.ctx = /*[[@{/}]]*/'';
    layui.use(['form', 'table'], function () {
        var form = layui.form,
            table = layui.table;

        var dictCode = $('input[name="dictCode"]').val();

        var currTable = table.render({
            elem: '#currentTableId',
            url: Util.ctx + 'sysdict/getSysDictDetailList',
            method: 'post', //如果无需自定义HTTP类型，可不加该参数
            where: {'dictCode': dictCode}, // 初始化时带的参数
            toolbar: '#toolbarDemo',
            cols: [
                [
                    {field: '', width: '10%', title: '序号', type: 'numbers', align: 'center', templet: function (d) {return d.LAY_TABLE_INDEX + 1;}},
                    {field: 'code', width: '20%',title: '编码', align: 'center'},
                    {field: 'name', width: '30%', title: '名称', align: 'center'},
                    {title: '操作', width: '40%', toolbar: '#currentTableBar', align: "center"}
                ]
            ],
            skin: 'line', // 行边框风格
            parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.rows //解析数据列表
                };
            }
        });


        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var index = layer.open({
                    title: '添加字典值',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['50%', '70%'],
                    content: Util.ctx + 'sysdict/forAddDetail/' + dictCode,
                    end: function (index) {
                        // 重载表格
                        currTable.reload();
                    }
                });
            }
        });


        // 监听行工具事件
        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            console.log(data);
            if (obj.event === 'edit') {
                var index = layer.open({
                    title: '编辑字典值',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['50%', '70%'],
                    content: Util.ctx + 'sysdict/forUpdateDetail/' + data.id,
                    end: function (index) {
                        // 重载表格
                        currTable.reload();
                    }
                });
                return false;
            } else if (obj.event === 'delete') {
                layer.confirm('确定删除该字典值吗？', function (index) {
                    layer.close(index);
                    let loading = layer.load(0, {shade: 0.1});
                    Util.get({
                        url: Util.ctx + "sysdict/deleteDetail/" + data.id,
                    }, function (res) {
                        layer.close(loading);
                        if (res.code === 0) {
                            Message.success(1000, res.message, function () {
                                // 重载表格
                                currTable.reload();
                            });
                        } else {
                            Message.error(res.message, 1000);
                        }
                    }, function (res) {
                        layer.close(index);
                        layer.close(loading);
                        Message.error("服务器异常！", 1000);
                    });
                });
            }
        });

    });

</script>

</body>
</html>