<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>业务流水号更新</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label required">编码</label>
        <div class="layui-input-block">
            <input type="hidden" name="idId" th:value="${idTable.idId}">
            <input type="text" name="idCode" lay-verify="required|idCode" lay-reqtext="请输入流水号编码" placeholder="请输入流水号编码"
                   class="layui-input" th:value="${idTable.idCode}" readonly>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">名称</label>
        <div class="layui-input-block">
            <input type="text" name="idName" lay-verify="required" lay-reqtext="请输入流水号名称" placeholder="请输入流水号名称"
                   class="layui-input" th:value="${idTable.idName}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">流水号长度</label>
        <div class="layui-input-block">
            <input type="number" min="0" name="idLength" value="10" lay-verify="required|numbe" lay-reqtext="请输入流水号长度"
                   placeholder="请输入流水号长度" class="layui-input" th:value="${idTable.idLength}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">当前值</label>
        <div class="layui-input-block">
            <input type="number" min="0" name="idValue" value="1" lay-verify="required|numbe" lay-reqtext="请输入流水号当前值"
                   placeholder="请输入流水号当前值" class="layui-input" th:value="${idTable.idValue}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">前缀<i class="layui-icon layui-icon-about" id="layui-icon-about1"></i></label>
        <div class="layui-input-block">
            <input type="text" name="idPrefix" placeholder="请输入流水号前缀" class="layui-input"
                   th:value="${idTable.idPrefix}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">后缀<i class="layui-icon layui-icon-about" id="layui-icon-about2"></i></label>
        <div class="layui-input-block">
            <input type="text" name="idSuffix" placeholder="请输入流水号后缀" class="layui-input"
                   th:value="${idTable.idSuffix}">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <textarea name="descript" class="layui-textarea" placeholder="请输入描述信息"
                      th:text="${idTable.descript}"></textarea>
        </div>
    </div>

    <!-- 右侧悬浮按钮 -->
    <div class="right-bottom-btn">
        <button class="layui-btn" lay-submit lay-filter="saveBtn"><i
                class="layui-icon layui-icon-ok"></i>确认
        </button>
        <button class="layui-btn" lay-filter="cancleBtn"><i
                class="layui-icon layui-icon-close"></i>取消
        </button>
    </div>
</div>
<script th:src="@{/lib/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
<script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/lib/coco-message/coco-message.js}" charset="utf-8"></script>
<script th:src="@{/js/lay-config.js}" charset="utf-8"></script>
<script type="text/javascript" th:inline="javascript">
    Util.ctx = /*[[@{/}]]*/'';
    layui.use(['form', 'layer'], function () {
        var form = layui.form,
            layer = layui.layer;

        var tipStr = "<p>假设当前时间为2019年2月25日3时11分23秒，如果前缀或后缀包含下列字符串</p>" +
            "<p>yyyy：生成的流水号将该字符串替换为2019</p>" +
            "<p>yy：生成的流水号将该字符串替换为19</p>" +
            "<p>MM：生成的流水号将该字符串替换为02</p>" +
            "<p>dd：生成的流水号将该字符串替换为25</p>" +
            "<p>HH：生成的流水号将该字符串替换为03</p>" +
            "<p>mm：生成的流水号将该字符串替换为11</p>" +
            "<p>ss：生成的流水号将该字符串替换为23</p>" +
            "<p>以上日期时间字符，yyyyMMddHHmmss，区分大小写</p>";

        var tipsIndex1;
        $("#layui-icon-about1, #layui-icon-about2").on("mouseover", function() {
            tipsIndex1 = layer.tips(tipStr, "#layui-icon-about", {tips: [1, '#4BB2FF'], time: 50000});
        }).on("mouseout", function() {
            layer.close(tipsIndex1);
        });


        //监听提交
        form.on('submit(saveBtn)', function (data) {
            var index = layer.alert('确认提交吗？', function () {
                layer.close(index);
                var loading = layer.load(0, {shade: 0.1});
                Util.post({
                    url: Util.ctx + "idtable/update",
                    data: data.field,
                    success: function (res) {
                        if (res.code === 0) {
                            layer.close(loading);
                            Message.success(1500, res.message, function () {
                                // 重载表格
                                var iframeIndex = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(iframeIndex);
                            });
                        } else {
                            layer.close(loading);
                            Message.error(res.message, 1000);
                        }
                    },
                    error: function (error) {
                    }
                });
            });
            return false;
        });

        form.verify({
            idCode: function (value, item) { //value：表单的值、item：表单的DOM对象
                if (!new RegExp("^\\w{3,20}$").test(value)) {
                    return '编码请设置为由数字、26个英文字母或者下划线组成的字符串';
                }
                if (/(^\_)|(\__)|(\_+$)/.test(value)) {
                    return '编码首尾不能出现下划线\'_\'';
                }
                if (/^\d+\d+\d$/.test(value)) {
                    return '编码不能全为数字';
                }
            },
            numbe: function (value, item) {
                if (!(/(^[1-9]\d*$)/.test(value))) {
                    return '请输入正整数';
                }
            }
        });

        // 监听取消按钮
        $("button[lay-filter='cancleBtn']").click(function(){
            var iframeIndex = parent.layer.getFrameIndex(window.name);
            parent.layer.close(iframeIndex);
        });
    });
</script>
</body>
</html>