<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bluewind.boot.module.system.deptinfo.mapper.DeptInfoMapper">

    <resultMap id="SysDeptInfo" type="com.bluewind.boot.module.system.deptinfo.entity.DeptInfo">
        <id column="dept_id" jdbcType="VARCHAR" property="deptId"/>
        <result column="parent_id" jdbcType="VARCHAR" property="parentId"/>
        <result column="ancestors" jdbcType="VARCHAR" property="ancestors"/>
        <result column="dept_name" jdbcType="VARCHAR" property="deptName"/>
        <result column="order_num" jdbcType="INTEGER" property="orderNum"/>
        <result column="leader" jdbcType="VARCHAR" property="leader"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <!-- 查询所有部门列表 -->
    <select id="list" resultMap="SysDeptInfo">
        select * from sys_dept_info
        where del_flag = '0'
        order by parent_id,order_num
    </select>

    <!-- 查询一个部门 -->
    <select id="getOne" resultMap="SysDeptInfo" parameterType="java.lang.String">
        select * from sys_dept_info
        where del_flag = '0'
        and dept_id = #{_parameter}
    </select>

    <!--插入一个部门-->
    <insert id="add" parameterType="com.bluewind.boot.module.system.deptinfo.entity.DeptInfo">
        insert into sys_dept_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptId != null and deptId != ''">dept_id,</if>
            <if test="parentId != null and parentId != ''">parent_id,</if>
            <if test="ancestors != null and ancestors != ''">ancestors,</if>
            <if test="deptName != null and deptName != ''">dept_name,</if>
            <if test="leader != null and leader != ''">leader,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="email != null and email != ''">email,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
            <if test="createUser != null and createUser != ''">create_user,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptId != null and deptId != ''">#{deptId,jdbcType=VARCHAR},</if>
            <if test="parentId != null and parentId != ''">#{parentId,jdbcType=VARCHAR},</if>
            <if test="ancestors != null and ancestors != ''">#{ancestors,jdbcType=VARCHAR},</if>
            <if test="deptName != null and deptName != ''">#{deptName,jdbcType=VARCHAR},</if>
            <if test="leader != null and leader != ''">#{leader,jdbcType=VARCHAR},</if>
            <if test="orderNum != null">#{orderNum,jdbcType=INTEGER},</if>
            <if test="phone != null and phone != ''">#{phone,jdbcType=VARCHAR},</if>
            <if test="email != null and email != ''">#{email,jdbcType=VARCHAR},</if>
            <if test="status != null and status != ''">#{status,jdbcType=VARCHAR},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag,jdbcType=VARCHAR},</if>
            <if test="createUser != null and createUser != ''">#{createUser,jdbcType=VARCHAR},</if>
        </trim>
    </insert>

    <!--删除一个部门-->
    <update id="del" parameterType="java.lang.String">
        update sys_dept_info set del_flag = '1' where dept_id = #{_parameter}
    </update>

    <!--更新部门顺序-->
    <update id="updateSort" parameterType="com.bluewind.boot.module.system.deptinfo.entity.DeptInfo">
        update sys_dept_info set order_num = #{orderNum,jdbcType=INTEGER}
        where dept_id = #{deptId,jdbcType=VARCHAR}
    </update>


    <!--更新部门-->
    <update id="update" parameterType="com.bluewind.boot.module.system.deptinfo.entity.DeptInfo">
        update sys_dept_info
        <set>
            <if test="parentId != null and parentId != ''">
                parent_id = #{parentId},
            </if>
            <if test="ancestors != null and ancestors != ''">
                ancestors = #{ancestors},
            </if>
            <if test="deptName != null and deptName != ''">
                dept_name = #{deptName},
            </if>
            <if test="leader != null and leader != ''">
                leader = #{leader},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
            update_user = #{updateUser}
        </set>
        where dept_id = #{deptId,jdbcType=VARCHAR}
    </update>

</mapper>
