<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bluewind.boot.module.system.rolepermission.mapper.RolePermissionMapper">

    <select id="listRolePermissionByUserId" parameterType="java.lang.String" resultType="java.lang.String">
        select
            a.sign
        from
            sys_permission_info a
        where
            a.del_flag = '0'
            and a.status = '0'
            and length( a.sign ) &gt; 0
            and exists (
            select
                rp.permission_id
            from
                sys_role_permission rp
                left join sys_role_info ri ON ( rp.role_id = ri.role_id )
            where
                ri.del_flag = '0'
                and ri.status = '0'
                and EXISTS ( select ur.role_id from sys_user_role ur where ur.user_id = #{userId} and rp.role_id = ur.role_id )
            and a.permission_id = rp.permission_id
            )
    </select>

    <delete id="deleteRolePermissionByRoleId" parameterType="java.lang.String">
        delete from sys_role_permission where role_id = #{roleId}
    </delete>

    <insert id="batchInsertRolePermission" parameterType="java.util.List">
        insert into sys_role_permission(role_id,permission_id)
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            select
            #{item.roleId, jdbcType=INTEGER},
            #{item.permissionId, jdbcType=VARCHAR}
            from dual
        </foreach>
    </insert>

</mapper>
