<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bluewind.boot.module.sys.sysconfig.mapper.SysConfigMapper">

    <resultMap id="SysConfig" type="com.bluewind.boot.module.sys.sysconfig.entity.SysConfig">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="system_name" jdbcType="VARCHAR" property="systemName"/>
        <result column="system_full_name" jdbcType="VARCHAR" property="systemFullName"/>
        <result column="system_logo" jdbcType="VARCHAR" property="systemLogo"/>
        <result column="website_title" jdbcType="VARCHAR" property="websiteTitle"/>
        <result column="website_icon" jdbcType="VARCHAR" property="websiteIcon"/>
        <result column="website_keywords" jdbcType="VARCHAR" property="websiteKeywords"/>
        <result column="website_description" jdbcType="VARCHAR" property="websiteDescription"/>
        <result column="record_no" jdbcType="VARCHAR" property="recordNo"/>
        <result column="copyright" jdbcType="VARCHAR" property="copyright"/>
        <result column="login_back_img" jdbcType="VARCHAR" property="loginBackImg"/>
        <result column="homepage_href" jdbcType="VARCHAR" property="homepageHref"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
    </resultMap>


    <!--查询配置-->
    <select id="getSysConfig" resultMap="SysConfig">
        select * from sys_configure
    </select>


    <!--更新配置-->
    <update id="updateSysConfig" parameterType="com.bluewind.boot.module.sys.sysconfig.entity.SysConfig">
        update sys_configure
        set `system_name` = #{systemName},
        `system_full_name` = #{systemFullName},
        `system_logo` = #{systemLogo},
        `website_title` = #{websiteTitle},
        `website_icon` = #{websiteIcon},
        `website_keywords` = #{websiteKeywords},
        `website_description` = #{websiteDescription},
        `record_no` = #{recordNo},
        `copyright` = #{copyright},
        `login_back_img` = #{loginBackImg},
        `homepage_href` = #{homepageHref},
        `update_user` = #{updateUser}
        where `id` = #{id}
    </update>

</mapper>
