<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bluewind.boot.module.sys.sysitfcpermission.mapper.SysItfcPermissionMapper">

    <resultMap id="SysItfcPermission" type="com.bluewind.boot.module.sys.sysitfcpermission.entity.SysItfcPermission">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="permission_id" jdbcType="VARCHAR" property="permissionId"/>
        <result column="parent_id" jdbcType="VARCHAR" property="parentId"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="sign" jdbcType="VARCHAR" property="sign"/>
        <result column="descript" jdbcType="VARCHAR" property="descript"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_user" jdbcType="INTEGER" property="createUser"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
        <result column="update_time" jdbcType="DATE" property="updateTime"/>
        <result column="del_flag" jdbcType="TINYINT" property="delFlag"/>
        <result column="update_user" jdbcType="INTEGER" property="updateUser"/>
    </resultMap>

    <!-- 查询所有功能权限列表 -->
    <select id="list" resultMap="SysItfcPermission" parameterType="java.lang.String">
        select * from `sys_itfc_permission`
        where `del_flag` = 0
        <if test="permissionId != null and permissionId != ''">
            and `parent_id` = #{_parameter}
        </if>
        order by `type`,`parent_id`,`permission_id`
    </select>

    <select id="listTree" resultType="java.util.Map">
        SELECT *
        FROM `sys_itfc_permission`
        where `del_flag` = 0
        ORDER BY `type`,`parent_id`
    </select>

    <update id="update" parameterType="com.bluewind.boot.module.sys.sysitfcpermission.entity.SysItfcPermission">
         update `sys_itfc_permission`
         set `parent_id` = #{parentId},
         `type` = #{type},
         `name` = #{name},
         `sign` = #{sign},
         `update_user` = #{updateUser},
         `descript` = #{descript}
         where `permission_id` = #{permissionId}
    </update>

    <insert id="insert" parameterType="com.bluewind.boot.module.sys.sysitfcpermission.entity.SysItfcPermission">
        insert into `sys_itfc_permission` (
            `permission_id`,
            `parent_id`,
            `name`,
            `type`,
            `sign`,
            `descript`,
            `status`,
            `del_flag`,
            `create_user`
        )  values (
            #{permissionId},
            #{parentId},
            #{name},
            #{type},
            #{sign},
            #{descript},
            0,
            0,
            #{createUser}
        )
    </insert>

    <update id="enable" parameterType="java.lang.String">
        update `sys_itfc_permission` set `status` = 0 where `permission_id` = #{_parameter}
    </update>

    <update id="delete" parameterType="java.lang.String">
        update `sys_itfc_permission` set `del_flag` = 1 where `permission_id` = #{_parameter}
    </update>

    <update id="deleteChildren" parameterType="java.lang.String">
        update `sys_itfc_permission` set `del_flag` = 1 where `parent_id` = #{_parameter}
    </update>

</mapper>
