<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bluewind.boot.module.sys.sysloginlog.mapper.SysLoginLogMapper">

    <resultMap id="SysLoginLog" type="com.bluewind.boot.module.sys.sysloginlog.entity.SysLoginLog">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="account" jdbcType="VARCHAR" property="account"/>
        <result column="session_id" jdbcType="VARCHAR" property="sessionId"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="descript" jdbcType="VARCHAR" property="descript"/>
        <result column="location" jdbcType="VARCHAR" property="location"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
    </resultMap>


    <!--查询所有日志-->
    <select id="getLoginLoglist" resultMap="SysLoginLog" parameterType="map">
        select * from sys_login_log
        where 1=1
        <if test="account != null and account != ''">
            and account like CONCAT('%',#{account},'%')
        </if>
        <if test="status != null and status != ''">
            and `status` = #{status}
        </if>
        <if test="createTime != null and createTime != ''">
            and `create_time` like CONCAT('%',#{createTime},'%')
        </if>

        <choose>
            <when test="sortName != null and sortName != '' and sortOrder != null and sortOrder != ''">
                order by ${sortName} ${sortOrder}
            </when>
            <otherwise>
                order by id asc
            </otherwise>
        </choose>

    </select>


    <!-- 新增登陆日志 -->
    <insert id="saveLoginlog" parameterType="com.bluewind.boot.module.sys.sysloginlog.entity.SysLoginLog">
        insert into sys_login_log (
            `ip`,
            `session_id`,
            `account`,
            `descript`,
            `location`,
            `status`
        ) values (
             #{ip},
             #{sessionId},
             #{account},
             #{descript},
             #{location},
             #{status}
        )
    </insert>


    <!--查询在线用户日志-->
    <select id="onlineList" resultType="map" parameterType="map">
        select sll.*, sui.name from sys_login_log sll
        inner join sys_user_info sui on sui.account = sll.account
        where 1=1
        <if test="account != null and account != ''">
            and sll.account like CONCAT('%',#{account},'%')
        </if>
        <if test="ipaddr != null and ipaddr != ''">
            and sll.ip = #{ipaddr}
        </if>
        and sll.session_id in
        <foreach item="item" index="index" collection="keysList" open="(" separator="," close=")">
            #{item}
        </foreach>
        order by sll.id asc
    </select>

</mapper>
