<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bluewind.boot.module.sys.sysoperlog.mapper.SysOperLogMapper">

    <resultMap id="SysOperLog" type="com.bluewind.boot.module.sys.sysoperlog.entity.SysOperLog">
        <id column="log_id" jdbcType="INTEGER" property="logId"/>
        <result column="model" jdbcType="VARCHAR" property="model"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="descript" jdbcType="VARCHAR" property="descript"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="method" jdbcType="VARCHAR" property="method"/>
        <result column="spend_time" jdbcType="INTEGER" property="spendTime"/>
        <result column="create_user" jdbcType="INTEGER" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <!-- 查询所有操作日志 -->
    <select id="list" resultMap="SysOperLog" parameterType="map">
        select * from sys_oper_log
        where 1=1
        <if test="model != null and model != ''">
            and model like CONCAT('%',#{model},'%')
        </if>
        <if test="type != null and type != ''">
            and `type` like CONCAT('%',#{type},'%')
        </if>
        <if test="createTime != null and createTime != ''">
            and create_time like CONCAT('%',#{createTime},'%')
        </if>
        <choose>
            <when test="sortName != null and sortName != '' and sortOrder != null and sortOrder != ''">
                order by ${sortName} ${sortOrder}
            </when>
            <otherwise>
                order by log_id asc
            </otherwise>
        </choose>
    </select>


    <!-- 新增登陆日志 -->
    <insert id="saveOperLog" parameterType="com.bluewind.boot.module.sys.sysoperlog.entity.SysOperLog">
        insert into sys_oper_log (
            log_id,
            model,
            `type`,
            method,
            url,
            descript,
            ip,
            create_user,
            spend_time
        ) values (
            #{logId},
            #{model},
            #{type},
            #{method},
            #{url},
            #{descript},
            #{ip},
            #{createUser},
            #{spendTime}
        )
    </insert>

</mapper>
