<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bluewind.boot.sys.syspermissioninfo.mapper.SysPermissionInfoMapper">

    <resultMap id="SysPermissionInfo" type="com.bluewind.boot.sys.syspermissioninfo.entity.SysPermissionInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="permission_id" jdbcType="VARCHAR" property="permissionId"/>
        <result column="parent_id" jdbcType="VARCHAR" property="parentId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="sign" jdbcType="VARCHAR" property="sign"/>
        <result column="href" jdbcType="VARCHAR" property="href"/>
        <result column="sort" jdbcType="TINYINT" property="sort"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="target" jdbcType="VARCHAR" property="target"/>
        <result column="descript" jdbcType="VARCHAR" property="descript"/>
        <result column="create_user" jdbcType="INTEGER" property="createUser"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
        <result column="update_time" jdbcType="DATE" property="updateTime"/>
        <result column="del_flag" jdbcType="TINYINT" property="delFlag"/>
        <result column="update_user" jdbcType="INTEGER" property="updateUser"/>
    </resultMap>

    <!-- 角色赋权，根据角色id获取权限树tree组件 -->
    <select id="listPermissionForTree" parameterType="java.lang.String"
            resultType="com.bluewind.boot.sys.syspermissioninfo.entity.LayuiTree">
        SELECT
            a.`permission_id` as permissionId,
            a.`parent_id` as parentId,
            a.`id`,
            a.`name` as title,
            a.`type`,
            ( CASE WHEN LENGTH(b.role_id) > 0 THEN 1 ELSE 0 END ) AS checked
        FROM
            sys_permission_info a
            LEFT JOIN sys_role_permission b ON ( a.permission_id = b.permission_id AND b.role_id = #{_parameter} )
        WHERE
            a.del_flag = 0
            AND a.`status` = 0
        ORDER BY
            a.type,
            a.parent_id,
            a.sort
    </select>

    <!-- 查询所有菜单列表 -->
    <select id="list" resultMap="SysPermissionInfo">
        select * from `sys_permission_info`
        where `del_flag` = 0
        order by `type`,`parent_id`,`sort`
    </select>

    <!-- 启/禁用菜单前获取所有菜单列表 -->
    <select id="listTree" resultType="com.bluewind.boot.sys.syspermissioninfo.entity.LayuiTree">
        select
            `permission_id` as permissionId,
            `parent_id` as parentId,
            `id`,
            `name` as title,
            `type`
        from `sys_permission_info`
        order by
        `type`,
        `parent_id`,
        `sort`
    </select>


    <!-- 禁用菜单 -->
    <update id="forbid" parameterType="java.util.List">
        update sys_permission_info
        set `status` = 1
        where `permission_id` in
        <foreach item="item" index="index" collection="list" open = "(" separator = "," close = ")">
            #{item}
        </foreach>
    </update>


    <!-- 启用菜单 -->
    <update id="enable" parameterType="java.util.List">
        update sys_permission_info
        set `status` = 0
        where `permission_id` in
        <foreach item="item" index="index" collection="list" open = "(" separator = "," close = ")">
            #{item}
        </foreach>
    </update>


    <!-- 逻辑删除菜单 -->
    <update id="delete" parameterType="java.util.List">
        update sys_permission_info
        set `del_flag` = 1
        where `permission_id` in
        <foreach item="item" index="index" collection="list" open = "(" separator = "," close = ")">
            #{item}
        </foreach>
    </update>


    <select id="listPermissionByType1" parameterType="java.lang.String"
            resultType="com.bluewind.boot.sys.syspermissioninfo.entity.LayuiTree">
        SELECT
            a.`permission_id` as permissionId,
            a.`parent_id` as parentId,
            a.`id`,
            a.`name` as title,
            a.`type`,
            a.`name`,
            a.`permission_id` as `value`
        FROM
            sys_permission_info a
        WHERE
            a.del_flag = 0
            AND a.`status` = 0
        ORDER BY
            a.type,
            a.parent_id,
            a.sort
    </select>


    <select id="listPermissionByType2" parameterType="java.lang.String"
            resultType="com.bluewind.boot.sys.syspermissioninfo.entity.LayuiTree">
        SELECT
            a.`permission_id` as permissionId,
            a.`parent_id` as parentId,
            a.`id`,
            a.`name` as title,
            a.`type`,
            a.`name`,
            a.`permission_id` as `value`
        FROM
            sys_permission_info a
        WHERE
            a.del_flag = 0
            AND a.`status` = 0
        ORDER BY
            a.type,
            a.parent_id,
            a.sort
    </select>


    <!-- 修改菜单顺序 -->
    <update id="updateSort" parameterType="com.bluewind.boot.sys.syspermissioninfo.entity.SysPermissionInfo">
        update sys_permission_info
        set `sort` = #{sort}
        where `permission_id` = #{permissionId}
    </update>

    <!-- 新增菜单 -->
    <insert id="addPermission" parameterType="com.bluewind.boot.sys.syspermissioninfo.entity.SysPermissionInfo">
        insert into sys_permission_info (
            `permission_id`,
            `parent_id`,
            `name`,
            `type`,
            `sign`,
            `href`,
            `sort`,
            `icon`,
            `status`,
            `target`,
            `descript`,
            `create_user`,
            `del_flag`
        ) values (
             #{permissionId},
             #{parentId},
             #{name},
             #{type},
             #{sign},
             #{href},
             #{sort},
             #{icon},
             0,
             #{target},
             #{descript},
             #{createUser},
             0
        )
    </insert>

    <!-- 查询所有菜单列表 -->
    <select id="getOnePermission" resultMap="SysPermissionInfo" parameterType="java.lang.String">
        select * from `sys_permission_info`
        where `permission_id` = #{permissionId}
    </select>


    <!-- 修改菜单 -->
    <update id="updatePermission" parameterType="com.bluewind.boot.sys.syspermissioninfo.entity.SysPermissionInfo">
        update sys_permission_info
        set `sort` = #{sort},
        `name` = #{name},
        `sign` = #{sign},
        `href` = #{href},
        `target` = #{target},
        `icon` = #{icon},
        `descript` = #{descript},
        `update_user` = #{updateUser}
        where `permission_id` = #{permissionId}
    </update>


</mapper>